

<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Bingo</title>
    <meta charset="utf-8"/>
    <style type="text/css">

    </style>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>



<script type="text/javascript">

    let identifier = -1;

    let NUM_ROWS_CAGE = 5;
    let NUM_COLUMNS_CAGE = 15;
    let NUM_VALUES_PER_ROW = NUM_COLUMNS_CAGE;
    
    
    let numBalls = NUM_VALUES_PER_ROW*NUM_ROWS_CAGE;
    let cageReverse = [];
//    let mostRecentBall = -1;

    let howMany = 1;
    let numbers=[];

    let checkWin = 2;

    let NUM_ROWS_CARD = 5;
    let NUM_COLUMNS_CARD = 5;
 
    let checkWinBoard = Create2DArray(NUM_ROWS_CARD*NUM_COLUMNS_CARD);

    let board = null;
    let boardSelect = null;

    let xpixel;
    let ypixel;

    let gameType = 1;

polling();
function polling() {
    if (identifier != -1) {
        $.get("/checkwin2",{index:3,identifier:identifier},successInfo);
    }
    let numMilliSeconds = 1000;   // 1000 milliseconds = 1 second
    setTimeout(polling, numMilliSeconds);
}



function Create2DArray(rows) {
  var arr = [];

  for (var i=0;i<rows;i++) {
     arr[i] = [];
  }

  return arr;
}



window.addEventListener('load', eventWindowLoaded, false);

function eventWindowLoaded() {
   canvasApp();
}


function canvasApp(){

    var theCanvas = document.getElementById("canvas");
    theCanvas.addEventListener("mousemove",onMouseMove,false);
    theCanvas.addEventListener("click",onMouseClick,false);

    if (!theCanvas || !theCanvas.getContext) {
        return;
    }


    var context = theCanvas.getContext("2d");

    if (!context) {
        return;
    }

   //canvasApp level variables
    var keyPressList = [];
    var windowWidth = 692;
    var windowHeight = 400;
    var mouseX = 0;
    var mouseY = 0;

    reset();

    gameLoop();

///////////////////////////////////////////////////////
    function gameLoop()
    {
        var FRAME_RATE = 10;
        var intervalTime = 1000/FRAME_RATE;

        input();
        paint();
        animate();
        window.setTimeout(gameLoop, intervalTime);
    }

    document.onkeydown = function(e){
        e = e?e:window.event;
        keyPressList[e.keyCode] = true;
    }

    document.onkeyup = function(e){
        e = e?e:window.event;
        keyPressList[e.keyCode] = false;
    };

///////////////////////////////////////////////////////
    function onMouseMove(e)
    {

    }
    function onMouseClick(e)
    {
    }
    function input()
    {
// Tab:9 Enter:13 Space:32 0:48 A:65 a:97 Delete:127
        if (keyPressList[27]==true){
        //Escape

        }

        if (keyPressList[37]==true) {
        //Left arrow
        }

        if (keyPressList[38]==true) {
        //Up arrow
        }

        if (keyPressList[39]==true) {
        //Right arrow
        }
        if (keyPressList[40]==true) {
        //Down arrow
        }
    }

    function paint()
    {
// draw background
        context.fillStyle = '#ffffff';
        context.fillRect(0, 0, getWidth2(), getHeight2());
        context.strokeStyle = '#000000';
        context.strokeRect(0, 0, getWidth2(), getHeight2());


//horizontal lines
        context.save(); //save current state in stack
        context.setTransform(1,0,0,1,0,0);

        let height = Math.floor(getHeight2()/3);
        let width = Math.floor(getWidth2()*14/15);
        let xoffset = Math.floor(getWidth2()/15);
        let yoffset = 0;
        
        let ydelta = Math.floor(height/NUM_ROWS_CAGE);
        let xdelta = Math.floor(width/NUM_COLUMNS_CAGE);

        
//Draw the grid.        

        context.fillStyle = "rgb(0,0,0)";
        for (let zi = 0;zi<NUM_ROWS_CAGE+1;zi++)
        {
            context.beginPath();
            context.moveTo(getX(xoffset)+0,getY(yoffset)+zi*ydelta);
            context.lineTo(getX(xoffset)+width,getY(yoffset)+zi*ydelta);
            context.stroke();
            context.closePath();             
        }
        
        for (let zi = 0;zi<NUM_COLUMNS_CAGE+1;zi++)
        {
            context.beginPath();
            context.moveTo(getX(xoffset)+zi*xdelta,getY(yoffset)+0);
            context.lineTo(getX(xoffset)+zi*xdelta,getY(yoffset)+height);
            context.stroke();
            context.closePath();             
        }
        
         
        
////////

        let index = 0;
        
        for (let zrow=0;zrow<NUM_ROWS_CAGE;zrow++)
        {
            for (let zcol=0;zcol<NUM_COLUMNS_CAGE;zcol++)        
            {
                if (cageReverse[index] == 1) {
                    
                    let recent = false;
                    for (let j=0;j < howMany;j++) {

                        if (index+1 == numbers[j])
                            recent = true;
                    }
                    if (recent)                    
//                    if (mostRecentBall == index+1)
                        context.fillStyle = "rgb(255,255,0)";
                    else
                        context.fillStyle = "rgb(155,155,155)";
                    

                    context.beginPath();
                    context.fillRect(getX(xoffset)+zcol*xdelta, getY(yoffset)+zrow*ydelta, xdelta, ydelta);
                    context.closePath(); 

                }
                index++;
            }
        }        
  

        let count = 1;
        let rowLoc = ydelta-3;
        let bingoLetters = ["B","I","N","G","O"];
        for (let row=0;row<NUM_ROWS_CAGE;row++) {
 
          context.beginPath();
          context.fillStyle = "rgb(0,0,0)";
          context.strokeStyle = '#000000';
          context.font = (ydelta-3) + 'px Arial';
          context.textBaseline = 'bottom';
          context.fillText  (bingoLetters[row],getX(xoffset)-xdelta ,getY(yoffset)+rowLoc);
          context.closePath();            

            let colLoc = 4;
            for (let col=0;col<NUM_COLUMNS_CAGE;col++) {

          context.beginPath();
          context.fillStyle = "rgb(0,0,0)";
          context.strokeStyle = '#000000';
          context.font = (ydelta-3) + 'px Arial';
          context.textBaseline = 'bottom';
          context.fillText  ("" + count,getX(xoffset)+colLoc ,getY(yoffset)+rowLoc);
          context.closePath();
                count++;
                colLoc += xdelta;
            }
            rowLoc += ydelta;
        }
        

/////////////////        
//Draw Card        
        height = Math.floor(getHeight2()/2);
        width = Math.floor(getWidth2()/2);
        
        ydelta = Math.floor(height/NUM_ROWS_CARD);
        xdelta = Math.floor(width/NUM_COLUMNS_CARD);

        xoffset = 0;
        yoffset = Math.floor(getHeight2()/2);
//Draw the grid.        

        context.fillStyle = "rgb(0,0,0)"; 
        context.strokeStyle = '#000000';

         
        
////////
         
        
        if (gameType == 2) {
            context.fillStyle = "rgb(220,220,255)";
            context.beginPath();
            context.fillRect(getX(xoffset)+0*xdelta, getY(yoffset)+0*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+4*xdelta, getY(yoffset)+4*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+4*xdelta, getY(yoffset)+0*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+0*xdelta, getY(yoffset)+4*ydelta, xdelta, ydelta);

            context.closePath();             
        }
        else if (gameType == 3) {
            context.fillStyle = "rgb(220,220,255)";
            context.beginPath();

            context.fillRect(getX(xoffset)+0*xdelta, getY(yoffset)+0*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+1*xdelta, getY(yoffset)+0*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+2*xdelta, getY(yoffset)+0*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+3*xdelta, getY(yoffset)+0*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+4*xdelta, getY(yoffset)+0*ydelta, xdelta, ydelta);

            context.fillRect(getX(xoffset)+2*xdelta, getY(yoffset)+1*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+2*xdelta, getY(yoffset)+2*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+2*xdelta, getY(yoffset)+3*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+2*xdelta, getY(yoffset)+4*ydelta, xdelta, ydelta);

/*
            context.fillRect(getX(xoffset)+0*xdelta, getY(yoffset)+0*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+1*xdelta, getY(yoffset)+0*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+2*xdelta, getY(yoffset)+0*ydelta, xdelta, ydelta);

            context.fillRect(getX(xoffset)+0*xdelta, getY(yoffset)+1*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+2*xdelta, getY(yoffset)+1*ydelta, xdelta, ydelta);

            context.fillRect(getX(xoffset)+0*xdelta, getY(yoffset)+2*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+1*xdelta, getY(yoffset)+2*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+2*xdelta, getY(yoffset)+2*ydelta, xdelta, ydelta);


            context.fillRect(getX(xoffset)+3*xdelta, getY(yoffset)+3*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+4*xdelta, getY(yoffset)+4*ydelta, xdelta, ydelta);

            context.fillRect(getX(xoffset)+2*xdelta, getY(yoffset)+4*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+4*xdelta, getY(yoffset)+2*ydelta, xdelta, ydelta);
*/

            context.closePath();             
        }        
        else if (gameType == 4) {
            context.fillStyle = "rgb(220,220,255)";
            context.beginPath();

            context.fillRect(getX(xoffset)+0*xdelta, getY(yoffset)+0*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+1*xdelta, getY(yoffset)+0*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+1*xdelta, getY(yoffset)+1*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+1*xdelta, getY(yoffset)+2*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+0*xdelta, getY(yoffset)+3*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+0*xdelta, getY(yoffset)+4*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+1*xdelta, getY(yoffset)+4*ydelta, xdelta, ydelta);

            context.fillRect(getX(xoffset)+3*xdelta, getY(yoffset)+0*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+4*xdelta, getY(yoffset)+0*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+4*xdelta, getY(yoffset)+1*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+4*xdelta, getY(yoffset)+2*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+3*xdelta, getY(yoffset)+3*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+3*xdelta, getY(yoffset)+4*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+4*xdelta, getY(yoffset)+4*ydelta, xdelta, ydelta);


/*
            context.fillRect(getX(xoffset)+0*xdelta, getY(yoffset)+0*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+1*xdelta, getY(yoffset)+0*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+2*xdelta, getY(yoffset)+0*ydelta, xdelta, ydelta);


            context.fillRect(getX(xoffset)+2*xdelta, getY(yoffset)+1*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+1*xdelta, getY(yoffset)+2*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+0*xdelta, getY(yoffset)+3*ydelta, xdelta, ydelta);


            context.fillRect(getX(xoffset)+0*xdelta, getY(yoffset)+4*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+1*xdelta, getY(yoffset)+4*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+2*xdelta, getY(yoffset)+4*ydelta, xdelta, ydelta);


            context.fillRect(getX(xoffset)+4*xdelta, getY(yoffset)+0*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+4*xdelta, getY(yoffset)+1*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+4*xdelta, getY(yoffset)+2*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+4*xdelta, getY(yoffset)+3*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+4*xdelta, getY(yoffset)+4*ydelta, xdelta, ydelta);
*/

            context.closePath();             
        }      
        else if (gameType == 5) {
            context.fillStyle = "rgb(220,220,255)";
            context.beginPath();
            context.fillRect(getX(xoffset)+0*xdelta, getY(yoffset)+0*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+1*xdelta, getY(yoffset)+0*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+2*xdelta, getY(yoffset)+0*ydelta, xdelta, ydelta);

            context.fillRect(getX(xoffset)+0*xdelta, getY(yoffset)+1*ydelta, xdelta, ydelta);

            context.fillRect(getX(xoffset)+0*xdelta, getY(yoffset)+2*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+1*xdelta, getY(yoffset)+2*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+2*xdelta, getY(yoffset)+2*ydelta, xdelta, ydelta);

            context.fillRect(getX(xoffset)+4*xdelta, getY(yoffset)+2*ydelta, xdelta, ydelta);


            context.fillRect(getX(xoffset)+2*xdelta, getY(yoffset)+3*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+3*xdelta, getY(yoffset)+3*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+4*xdelta, getY(yoffset)+3*ydelta, xdelta, ydelta);

            context.fillRect(getX(xoffset)+2*xdelta, getY(yoffset)+4*ydelta, xdelta, ydelta);
            context.fillRect(getX(xoffset)+4*xdelta, getY(yoffset)+4*ydelta, xdelta, ydelta);



            context.closePath(); 
        }

        
                
        for (let zrow=0;zrow<NUM_ROWS_CARD;zrow++)
        {
            for (let zcol=0;zcol<NUM_COLUMNS_CARD;zcol++)        
            {
                if (boardSelect != null) {
                    if (boardSelect[zrow][zcol]) {

                        context.fillStyle = "rgb(255,132,143)";
                        context.beginPath();
                        context.fillRect(getX(xoffset)+zcol*xdelta, getY(yoffset)+zrow*ydelta, xdelta, ydelta);
                        context.closePath(); 
                    }
                }
            }
        }        
          
        count = 1;
        rowLoc = ydelta-3;
        for (let col=0;col<NUM_COLUMNS_CARD;col++) {
            let colLoc = 4;
            for (let row=0;row<NUM_ROWS_CARD;row++) {

                if (row == Math.floor(NUM_ROWS_CARD/2) && col == Math.floor(NUM_COLUMNS_CARD/2)) {
                    context.fillStyle = "rgb(255,132,143)";
                    context.beginPath();
                    context.fillRect(getX(xoffset)+col*xdelta, getY(yoffset)+row*ydelta, xdelta, ydelta);
                    context.closePath(); 
                }
                else 
                {
                    if (board != null) {
                        if (board[col][row] != 0) {                        
                            context.beginPath();
                            context.fillStyle = "rgb(0,0,0)";
                            context.strokeStyle = '#000000';
                            context.font = (ydelta-3) + 'px Arial';
                            context.textBaseline = 'bottom';
              

                            context.fillText  ("" + board[col][row],getX(xoffset)+colLoc ,getY(yoffset)+rowLoc);
                            context.closePath();
                        }
                    }
                }
                count++;
                colLoc += xdelta;
            }
            rowLoc += ydelta;
        }        
        
        context.fillStyle = "rgb(0,0,0)"; 
        context.strokeStyle = '#000000';
             
        for (let zi = 0;zi<NUM_ROWS_CARD+1;zi++)
        {
            context.beginPath();
            context.moveTo(getX(xoffset)+0,getY(yoffset)+zi*ydelta);
            context.lineTo(getX(xoffset)+width,getY(yoffset)+zi*ydelta);
            context.stroke();
            context.closePath();             
        }
        
        for (let zi = 0;zi<NUM_COLUMNS_CARD+1;zi++)
        {
            context.beginPath();
            context.moveTo(getX(xoffset)+zi*xdelta,getY(yoffset)+0);
            context.lineTo(getX(xoffset)+zi*xdelta,getY(yoffset)+height);
            context.stroke();
            context.closePath();             
        }



        let colLoc = 4;
        for (let col=0;col<NUM_COLUMNS_CARD;col++) {
          context.beginPath();
          context.fillStyle = "rgb(0,0,0)";
          context.strokeStyle = '#000000';
          context.font = (ydelta-14) + 'px Arial';
          context.textBaseline = 'bottom';
          
        context.fillText  (bingoLetters[col],getX(xoffset)+colLoc ,getY(yoffset));
          context.closePath();                        
            colLoc += xdelta;
        }        
        
        if (gameType == 1) {
          context.beginPath();
          context.fillStyle = "rgb(100,100,255)";
          context.strokeStyle = '#000000';
          context.font = (ydelta-10) + 'px Arial';
          context.textBaseline = 'bottom';
          context.fillText  ("Regular Bingo",getX(xoffset),getY(yoffset-35));
          context.closePath();               
        }
        else if (gameType == 2) {
          context.beginPath();
          context.fillStyle = "rgb(100,100,255)";
          context.strokeStyle = '#000000';
          context.font = (ydelta-10) + 'px Arial';
          context.textBaseline = 'bottom';
          context.fillText  ("4 Corners Bingo",getX(xoffset),getY(yoffset-35));
          context.closePath();               
        }
        else if (gameType == 3) {
          context.beginPath();
          context.fillStyle = "rgb(100,100,255)";
          context.strokeStyle = '#000000';
          context.font = (ydelta-10) + 'px Arial';
          context.textBaseline = 'bottom';
          context.fillText  ("Tiger Bingo",getX(xoffset) ,getY(yoffset-35));
          context.closePath();               
        }
        else if (gameType == 4) {
          context.beginPath();
          context.fillStyle = "rgb(100,100,255)";
          context.strokeStyle = '#000000';
          context.font = (ydelta-10) + 'px Arial';
          context.textBaseline = 'bottom';
          context.fillText  ("2022 Bingo",getX(xoffset) ,getY(yoffset-35));
          context.closePath();               
        }
        else if (gameType == 5) {
          context.beginPath();
          context.fillStyle = "rgb(100,100,255)";
          context.strokeStyle = '#000000';
          context.font = (ydelta-10) + 'px Arial';
          context.textBaseline = 'bottom';
          context.fillText  ("Chun Hoon Bingo",getX(xoffset) ,getY(yoffset-35));
          context.closePath();               
        }

/////////////
        if (checkWin == 1) {
          context.beginPath();
          context.fillStyle = "rgb(0,0,0)";
          context.strokeStyle = '#000000';
          context.font = (ydelta-10) + 'px Arial';
          context.textBaseline = 'bottom';
          context.fillText  ("Bingo",getX(xoffset+300) ,getY(yoffset-35));

          context.closePath();  
        }
        else if (checkWin == 0) {
          context.beginPath();
          context.fillStyle = "rgb(0,0,0)";
          context.strokeStyle = '#000000';
          context.font = (ydelta-10) + 'px Arial';
          context.textBaseline = 'bottom';
          context.fillText  ("No Bingo",getX(xoffset+300) ,getY(yoffset-35));
          context.closePath();  
        }
        else if (checkWin == -1) {
          context.beginPath();
          context.fillStyle = "rgb(0,0,0)";
          context.strokeStyle = '#000000';
          context.font = (ydelta-10) + 'px Arial';
          context.textBaseline = 'bottom';
          context.fillText  ("Bad Card",getX(xoffset+300) ,getY(yoffset-35));
          context.closePath();  
        }




        context.restore(); 
    }

    function reset()
    {
    }
    function animate()
    {
 
    }

////////////////////////////////////////////////////////
    function getX(x)
    {
        return(x);
    }
    function getY(y)
    {
        return(y);
    }
    function getYNormal(y)
    {
        return(windowHeight-y);
    }
    function getWidth2()
    {
        return(windowWidth);
    }
    function getHeight2()
    {
        return(windowHeight);
    }
}

</script>



  </head>
  
  <body> 
     
        <h1>CHECK WIN</h1>

        <label for="cardNum">Card Num:</label>
        <input id="cardNum" type="number" name="cardNum" value="1" min="1">
        <input type="button" value="CheckWin" onclick="msgCheckWin()">



<canvas id="canvas" width="692" height="400"  style="position:absolute;top: 120px; left: 8px;">
 Your browser does not support HTML5 Canvas.
</canvas>

<script type="text/javascript">

function msgCheckWin() {
        $.get("/checkwin2",{index:9,cardNum:$("#cardNum").val()},successInfo);
}


function successInfo(data) { 
  if (!data)
    return;    //error

  if (data.val == 1) {

//create card numbers.  Should only be once.            
      identifier = data.identifier;

      board = Create2DArray(NUM_ROWS_CARD*NUM_COLUMNS_CARD);
      boardSelect = Create2DArray(NUM_ROWS_CARD*NUM_COLUMNS_CARD);

      for (let row = 0;row < NUM_ROWS_CARD;row++) {
          for (let col = 0;col < NUM_COLUMNS_CARD;col++) {
              board[row][col] = 0;
              boardSelect[row][col] = false;
          }
      }
  }  
  else if (data.val == 3) {    

//polling to get the mostRecentBall chosen. 
howMany = data.howMany;
for (let i=0;i<data.howMany;i++) {
    numbers[i] = data.numbers[i];
    cageReverse[numbers[i]-1] = 1;
}


//temp comment out below
  //    if (data.ballNum != undefined && data.ballNum != -1) {
  //        mostRecentBall = data.ballNum;
  //        cageReverse[data.ballNum-1] = 1;
  //    }
      gameType = data.gameType;
  }        
  else if (data.val == 4) {
//polling to reset.     
      gameType = data.gameType;

       //     reset();     

//clear the cage numbers
      for (let i=0;i<numBalls;i++) {
          cageReverse[i] = 0;
      }
//clear the card
      for (let row = 0;row < NUM_ROWS_CARD;row++) {
          for (let col = 0;col < NUM_COLUMNS_CARD;col++) {
              if (boardSelect != null)
                  boardSelect[row][col] = false;        
          }
      }
  }  
 else if (data.val == 9) {
//check win from card number.
        checkWin = data.checkWin;
        console.log(checkWin);
        if (checkWin == 0 || checkWin == 1) {         
            for (let col=0;col<NUM_COLUMNS_CARD;col++) {
                for (let row=0;row<NUM_ROWS_CARD;row++) {
                  board[row][col] = data.board[row][col];
                  boardSelect[row][col] = false;
                  if (cageReverse[board[row][col]-1] == 1)
                    boardSelect[row][col] = true;
                }
            }        
        }
        else {
          for (let row = 0;row < NUM_ROWS_CARD;row++) {
              for (let col = 0;col < NUM_COLUMNS_CARD;col++) {
                  board[row][col] = 0;
                  boardSelect[row][col] = false;
              }
          }            
        }
    }
}

$(document).ready(function(){   

    $.get("/checkwin2",{index:1,identifier:identifier},successInfo);

});  


</script>

  </body>
</html>  
  


 
